---
- name: Bootstrap playbook
  hosts: my-nginx
  become: yes
  become_user: root
  become_method: sudo
  gather_facts: False
  pre_tasks:
    - name: Gather minimal facts
      ansible.builtin.setup:
        gather_subset: "!all,min"
      tags:
        - always

  tasks:
    - name: Install Nginx
      ansible.builtin.apt:
        name: nginx
        state: present
      tags:
        - nginx

    - name: cat something onto file
      ansible.builtin.command: echo 'hehe boyz' > /tmp/hello.txt

